@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/leaguegothic/leaguegothic-regular-webfont.eot');
  src: url('/fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
    url('/fonts/leaguegothic/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('/fonts/leaguegothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}

@font-face {
  font-family: 'procionoregular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/prociono/prociono-regular-webfont.woff2') format('woff2'),
    url('/fonts/prociono/prociono-regular-webfont.woff') format('woff');
}

:root {
  --ms-bases: 1, 0.75;
  --ms-ratios: 1.2;
}

$background-light: #E0F2F1;
$background-dark: #547A82;

$text-light: #E0F2F1;
$text-dark: #5A5050;

$sans-serif: 'League Gothic', Verdana, sans-serif;
$serif: 'procionoregular', Georgia, serif;

$content-width: 1024px;
$mobile: max-width 640px;

@custom-media --mobile (max-width: 640px);

html{
  box-sizing:border-box;
}
*,*::after,*::before{
  box-sizing:inherit;
}

body {
  background-color: $background-light;
  color: $text-dark;
  font-family: $serif;
  line-height: 1.5;
  margin: 0;

  & h1, & h2, & h3 {
    font-family: $sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
  }

  & h1 {
    font-size: ms(3)em;
  }

  & h2 {
    font-size: ms(2)em;
  }

  & h3 {
    font-size: ms(1)em;
  }

  & a {
    color: $background-dark;
    text-decoration: none;
  }

  & p, & a, & li {
    font-size: ms(1)em;
    line-height: 1.7;
  }

  & * a {
    font-size: 1em;
  }
}

@media (--mobile) {
  body {
    & h1 {
      font-size: ms(2)em;
    }

    & h2 {
      font-size: ms(1)em;
    }

    & h3 {
      font-size: ms(0)em;
    }

    & p, & a, & li {
      font-size: ms(0)em;
    }
  }
}

header {
  background-color: $background-dark;
  left:0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  & nav {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: $content-width;
    padding: 10px 20px;

    & a {
      border-bottom: 1px solid transparent;
      color: #A2D4AB;
      font-family: $sans-serif;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    & a:hover {
      border-bottom: 1px solid $background-light;
      color: $background-light;
      transition: all 0.2s ease-in-out;
    }

    & a.logo:hover {
      border-bottom: 1px solid transparent;
    }

    & aside {
      margin-left: auto;

      & a {
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-right: 25px;
        text-transform: uppercase;
      }
      & a:last-of-type {
        margin-right: 0;
      }
    }

    & aside.mobile {
      display: none;
      z-index: 4;

      & a:hover {
        border-bottom: none;
      }
      & .fa {
        font-size: ms(0)em;
      }
    }
  }
  & .fa-times {
    display: none;
  }
}

@media (--mobile) {
  header nav aside.desk {
    background-color: #3EACA8;
    bottom: 0;
    left: 0;
    margin-top: 63px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s ease;
    z-index: 3;

    & a {
      color: $background-light;
      display: block;
      font-size: ms(2)em;
      margin: 15px 0;
      margin-right: 0;
    }
  }

  header nav aside.mobile {
    display:block;
  }
}

header.open {
  & .fa-times {
    display: inline-block;
  }
  & .fa-bars {
    display: none;
  }
  & aside.desk {
    height: 100vh;
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease;
  }
}

header.fixed {
  position: fixed;
}

section.index {
  align-items: center;
  background-color: $background-dark;
  color: $background-light;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  & h1 {
    color: #a2d4ab;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  & p {
    color: #a2d4ab;
    letter-spacing: 0.4px;
    margin: 0;
  }

  & .wrapper {
    text-align: center;
    width: 100%;
  }

  & .info {
    font-family: $sans-serif;
    margin: 0 auto;
    padding: 20px;
  }

  & .buttons {
    padding: 20px;
  }
}

@media (--mobile) {
  section.index {
    display: block;
    height: 100%;
    padding: 60px 20px;

    & h1 {
      font-size: ms(2)em;
    }

    & p {
      font-size: ms(1)em;
    }
  }
}

.code {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  color: $text-dark;
  font-size: ms(0)em;
  margin: 20px auto;
  max-width: 550px;
  overflow-x: auto;
  padding: 10px;
}

button.dark {
  background-color: $text-dark;
  border: 2px solid $text-dark;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  color: #a2d4ab;
  cursor: pointer;
  font-family: $sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

@media (--mobile) {
  button.dark {
		width: 100%;
  }
}

button.dark:hover {
  background-color: $background-dark;
  border: 2px solid $text-light;
  color: $background-light;
  transition: all 0.2s ease-in-out;
}

article.post {
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 20px;
  padding-bottom: 35px;
  padding-top: 75px;

	& .wrapper {
		text-align: center;
	}

  & .code {
		display: inline-block;
    max-width: 100%;
		text-align: left;
  }

  & .embedd-container {
    z-index: 1;
  }
}

form {
  font-family: $sans-serif;
	margin-bottom: 40px;

  & section {
    @neat-outer-container;
  }

  & aside {
    @neat-span-columns 6;
  }

  & .button {
    text-align: center;
  }

  & label {
    display: block;
    font-size: ms(1)em;
  }

  & input, & select {
    background-color: #fff;
    border: 1px solid $text-dark;
    color: $text-dark;
    font: ms(0)em $serif;
    margin: 10px 0;
    padding: 8px 5px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  & button.dark {
    display: block;
    padding: 5px 25px;
    margin: 10px auto;
  }
}

@media (--mobile) {
  form {
    text-align: center;

    & aside {
      @neat-span-columns 12;
    }
  }
}
