header
  nav
    a.logo(href='/')
      img(src='/img/embedd.png')
    aside.desk
      a(href='/usage') Usage
      a(href='/try-it-out') Try It Out
      a(href='https://github.com/tgallant/embedd', target='_blank') Github
    aside.mobile
      a(href='javascript:void(0)')
        i.fa.fa-bars
        i.fa.fa-times