---
layout: default.pug
---

.info
  h1 Display the Best Comments About Your Work
  p Embedd allows you to show off your Reddit and HackerNews comments right on your blog or product page
.code
  pre: code.lang-html #{'<script src="https://embedd.io/embedd.min.js"></script>'}
.buttons
  a(href='/usage')
    button.dark Get Started
  a(href='/try-it-out') 
    button.dark Try It Out
